services:
  postgres:
    image: docker.io/postgres:17.0-alpine3.20
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=flowctl
      - POSTGRES_USER=flowctl
      - POSTGRES_DB=flowctl
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U flowctl"]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - type: volume
        source: flowctl-db-data
        target: /var/lib/postgresql/data

volumes:
  flowctl-db-data:
