services:
  postgres:
    image: docker.io/postgres:17.0-alpine3.20
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=flowctl
      - POSTGRES_USER=flowctl
      - POSTGRES_DB=flowctl
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U flowctl"]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - type: volume
        source: flowctl-db-data
        target: /var/lib/postgresql/data

  site:
    build:
      context: ../
      dockerfile: dev/app.Dockerfile
    ports:
      - "5555:5555"
    environment:
      - VITE_BACKEND_HOST=backend:7000
    command: '/bin/sh -c "npm i && npm run dev -- --host"'
    volumes:
      - ../site:/app

  backend:
    build:
      context: ../
      dockerfile: dev/app.Dockerfile
    ports:
      - "7000:7000"
    environment:
      - DEBUG_LOG=true
    command: >
      /bin/bash -c "
        mkdir -p site/build/_app &&
        touch  site/build/test site/build/_app/test &&
        go run main.go --config /etc/flowctl/config.toml install && go run main.go --config /etc/flowctl/config.toml start
      "
    volumes:
      - ../:/app
      - go-mod-cache:/go/pkg/mod
      - go-build-cache:/go/cache
      - ./app-config.toml:/etc/flowctl/config.toml
    depends_on:
      - dex
      - postgres

  dex:
    image: dexidp/dex:v2.44.0-alpine
    ports:
      - "5556:5556"
    volumes:
      - ./dex-config.yml:/etc/dex/config.yml
    command: ["dex", "serve", "/etc/dex/config.yml"]

volumes:
  flowctl-db-data:
  go-mod-cache:
  go-build-cache:
