package partials

templ Header(title string) {
	<head>
		<title>{ title }</title>
		<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
		<script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
}
