{{ define "error_page" }}
{{ template "partials/header" . }}

<div class="flex flex-col items-center min-h-screen bg-gray-900 py-8">
    <p class="font-bold text-5xl mb-2 text-white">Error</p>
    <p class="text-xl text-gray-300 mb-6">{{ .ErrorCode }}</p>

    <div class="bg-gray-800 text-red-400 text-sm font-mono p-8 rounded-lg shadow-lg max-w-screen-md w-full mx-auto mb-8 border border-gray-700">
        <div id="message" class="whitespace-pre-wrap break-words">{{ .Message }}</div>
    </div>

    <a href="/view/" class="text-blue-600 hover:underline dark:text-blue-500">Go back to home</a>
</div>

{{ template "partials/footer" . }}
{{ end }}
