{{ define "flows" }}
{{ template "partials/header" . }}

{{ if not .Page.ErrMessage }}
<div class="flex h-screen flex-col justify-start items-center">
    <p class="font-bold text-5xl p-10">Autopilot</p>
    {{ range $_, $v := .Flows }}
    <div
        x-data
        x-on:click="window.location.href = '/view/{{ $v.Meta.ID }}'"
        class="max-w-screen-sm w-screen max-h-24 min-h-24 mx-auto border-2 rounded-md border-solid m-3 px-8 flex flex-col justify-center content-start transition-all duration-200 hover:border-gray-400 hover:bg-gray-50 active:bg-gray-100 active:scale-[0.995] cursor-pointer"
    >
        <p class="font-semibold text-xl">{{ $v.Meta.Name }}</p>
        <p class="font-light text-base">{{ $v.Meta.Description }}</p>
    </div>
    {{ end }}
</div>
{{ else }}
{{ template "partials/error_message" . }}
{{ end }}

{{ template "partials/footer" . }}
{{ end }}
