
[app]
# (required) Address for the server to listen on, default - listen on all interfaces
address = ":7000"

# (required) Default superadmin credentials
# The password can be changed by updating here
admin_password = "flowctl_password"
# The admin username cannot be changed after the first install
admin_username = "flowctl_admin"

# (required) Directory where flows will be stored
# Each namespace will be a subdirectory
flows_directory = "flows"

# TLS certs, only used when use_tls = true
http_tls_cert = "server_cert.pem"
http_tls_key = "server_key.pem"
use_tls = false

# (required) This is the public url as visible on the browser
root_url = "http://localhost:7000"

# (required) Base64-encoded key for encrypting session cookies
# Valid key lengths are 16, 24, or 32 bytes to select AES-128, AES-192, or AES-256
secure_cookie_key = "{{ .App.SecureCookieKey }}"

[keystore]
# (required) The keystore manages encryption keys for sensitive data
# This is a random 32 byte key that is Base64 encoded
# The default config uses a local encryption key
keeper_url = "{{ .Keystore.KeeperURL }}"

# Logger manages logs generated by flow executions
[logger]
# (optional) Log storage backend, only file available for now
backend = "file"
# (required) Directory for storing log files
# Will be created if it doesn't exist
log_directory = "/var/log/flowctl"
# (optional) Log file can be rotated when max_size_bytes is exceeded. Default is unlimited (no rotation)
max_size_bytes = 0
# (optional) retention_time can be used to delete old log files
# Files modified before the retention_time will be deleted. This applies to the entire log_directory
# Default is unlimited (no files will be deleted)
retention_time = "0s"
# (optional) Logger will perform periodic scans to enforce retention and any other background tasks with the scan_interval period
scan_interval = "1h0m0s"

# SSO setup using OIDC
[oidc]
# (optional) This is the public visible URL for the identity provider
auth_url = ""
# (required) Client ID for OIDC
client_id = ""
# (required) Client Secret for OIDC
client_secret = ""
# (required) Issuer URL for the identity provider
issuer = ""
# (optional) The path should be /auth/callback but the url can be different
# This is only useful if you have a proxy setup and for development
redirect_url = ""
# (optional) Token URL of the OIDC provider
token_url = ""

[scheduler]
# (required) Any updates to flow schedules is synced from DB in cron_sync_interval
cron_sync_interval = "5m0s"
# (optional) Number of workers
workers = 20

[db]
# (required) Database name
dbname = "flowctl"
# (required) Database host name
host = "127.0.0.1"
# (required) Database credentials
password = "flowctl"
user = "flowctl"
# (required) Postgres port
port = 5432

# Prometheus metrics
[metrics]
enabled = true
path = "/metrics"
