package ui

templ header(title string) {
     <head>
        <title>{ title }</title>
        <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
        // <link rel="stylesheet" href="https://classless.de/classless.css">
    </head>
}